{{#block "header"}}
  <header>fallback content</header>
{{/block}}
<h1>Heading</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos facere dolorum perferendis ipsam sapiente atque sit quae eos corporis, neque quis harum totam!</p>